// design tokens

/*----------------------------
 colors
----------------------------*/
$turquoise: hsl(177,68%, 64%);
$orange: hsl(12, 94%, 65%);
$mango: hsl(33,100%, 70%);
$white: hsl(252, 33%, 98%);
$black: hsl(244, 23%,12%);


//typography
body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    color: $black;
}
