/*----------------------------
 section header
----------------------------*/
.header {
  margin: 39.99px 0 0 24.15px; 

&__heading {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.454545px;
  font-weight: 700;
  margin-top: 64.01px;
}

&__paragraph{
  line-height: 26px;
  margin-top: 20px;
  // max-width: 327px;
}

}
  
/*----------------------------
      section ???
 ----------------------------*/
  
  
  
/*----------------------------
      section ???
----------------------------*/
  
  
  
/*----------------------------
      section footer
----------------------------*/
  
  