/*----------------------------
 header section
----------------------------*/

body {
  display: flex;
  justify-content: center;
  background-image: url(../assets/bg-main-mobile.png);
  background-size: 30rem;
  background-repeat: no-repeat;
  background-position: left 2rem top -9.875rem;

  @media only screen and (min-width: 768px) {
    background-image: url(../assets/bg-pattern-1.svg),
      url(../assets/bg-main-tablet.png);

    background-size: 16.6669rem 25rem, 64.75rem;
    background-position: right top -2rem, left -13.25rem top -7.625rem;
  }

  @media only screen and (min-width: 1440px) {
    background-image: url(../assets/bg-pattern-1.svg),
      url(../assets/bg-main-desktop.png);

    background-size: 19.5rem 29.25rem, 112.125rem;
    background-position: right top -2.5rem, left -14.875rem top -17.625rem;
  }
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 23.4375rem;

  @media only screen and (min-width: 768px) {
    max-width: 48rem;
  }

  @media only screen and (min-width: 1440px) {
    max-width: 90rem;
  }
}

.header {
  margin: 2.4994rem 1.5rem 10.375rem;

  @media only screen and (min-width: 768px) {
    margin: 3.8744rem 0 15.5625rem 2.4375rem;
  }

  @media only screen and (min-width: 1440px) {
    margin: 3.8744rem 0 20.0625rem 10.2813rem;
  }

  &__heading {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.0284rem;
    font-weight: 700;
    max-width: 20.4375rem;
    margin: 4.0006rem 0 1.25rem;

    @media only screen and (min-width: 768px) {
      font-size: 4rem;
      letter-spacing: -0.0456rem;
      line-height: 4rem;
      margin: 5.9381rem 0 1.75rem;
      max-width: 32.5rem;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 5.5rem;
      line-height: 5.5rem;
      letter-spacing: -0.0625rem;
      max-width: 63.4375rem;
    }
  }

  &__paragraph {
    line-height: 1.625rem;
    margin: 1.75rem 0 0;
    max-width: 20.4375rem;

    @media only screen and (min-width: 768px) {
      font-size: 1.125rem;
      line-height: 1.75rem;
      max-width: 32.125rem;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 1.25rem;
      line-height: 2.125rem;
      max-width: 51.5625rem;
    }
  }
}

/*----------------------------
      features section
 ----------------------------*/

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media only screen and (min-width: 768px) {
    & {
      margin: 0 2.4375rem 0 2.0625rem;
    }
  }

  @media only screen and (min-width: 1440px) {
    & {
      margin: 0 10.3125rem 0;
    }
  }

  &__bg-black {
    background-color: $black;
    background-image: url(../assets/bg-pattern-2.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 17.5rem 26.25rem;
    border-radius: 0.75rem;
    height: 37.5rem;
    max-width: 23.4375rem;

    @media only screen and (min-width: 768px) {
      width: 43.5rem;
      height: 37.5rem;
      background-position: right 187px top -31px;
      max-width: 43.5rem;
    }

    @media only screen and (min-width: 1440px) {
      background-size: 19.5rem 29.25rem;
      width: 69.375rem;
      height: 37.5rem;
      background-position: right 28.875rem top -2.5rem;
      max-width: 69.375rem;
    }
  }

  &__mobile-img {
    display: none;
    width: 16.8881rem;
    height: 34.75rem;

    @media only screen and (min-width: 768px) {
      display: block;
      position: relative;
      top: -8.625rem;
      left: 9%;
    }

    @media only screen and (min-width: 1440px) {
      position: relative;
      width: 19.5rem;
      height: 40.125rem;
      top: -13.3125rem;
      left: 6.375rem;
    }
  }

  &__bg-orange {
    display: flex;
    flex-direction: column;
    background-color: $orange;
    border-radius: 0.75rem;
    color: $white;
    height: 28.125rem;
    width: 18.9375rem;
    padding: 3rem 2.25rem 3rem;
    margin: -13.75rem 0 0;

    @media only screen and (min-width: 768px) {
      z-index: 3;
      position: relative;
      top: -28.125rem;
      left: 14.9375rem;
      padding: 3rem;
      margin: 0 0 0 0;
    }

    @media only screen and (min-width: 1440px) {
      width: 20.8125rem;
      height: 32.4375rem;
      top: -31.875rem;
      left: 35.5625rem;
      padding: 3.625rem 3.6875rem 3rem 3.375rem;
    }
  }

  &__heading {
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 700;

    @media only screen and (min-width: 1440px) {
      font-size: 2.5rem;
      line-height: 3.25rem;
    }
  }

  &__paragraph {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0.75rem 0 2.25rem 0;

    @media only screen and (min-width: 1440px) {
      font-size: 1.25rem;
      line-height: 2.125rem;
      margin: 1.375rem 0 2.4375rem 0;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;

    @media only screen and (min-width: 1440px) {
      margin-bottom: 2.875rem;
    }

    .cost {
      font-size: 4.0625rem;
      line-height: 3.25rem;
      font-weight: 700;
      margin-right: 1rem;
    }

    .perMonth {
      font-size: 1.25rem;
      line-height: 2rem;
      letter-spacing: -0.0125rem;
    }
  }

  &__button {
    font-family: "IBM Plex Sans", sans-serif;
    display: flex;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 0.75rem;
    border: none;
    cursor: pointer;
    line-height: 2rem;
    align-items: center;
    justify-content: center;

    max-width: 18.5rem;
    height: 3.8125rem;
  }

  &__button--iOS {
    background-color: $black;
    color: $white;

    &:hover {
      background-color: $turquoise;
    }
  }

  &__button--android {
    margin-top: 1rem;
    &:hover {
      background-color: $mango;
    }
  }

  &__iOS-label {
    margin-left: 0.495rem;
  }

  &__android-label {
    margin-left: 0.4875rem;
  }
}

/*----------------------------
      footer section
----------------------------*/

.footer {
  display: flex;
  flex-direction: column;
  margin: 4rem 1.5rem 5rem;

  @media only screen and (min-width: 768px) {
    align-items: flex-start;
    max-width: 43.5rem;
    margin: -24.125rem 2.4375rem 0 2.0625rem;
  }

  @media only screen and (min-width: 1440px) {
    //margin-top: bg-orange -> margin-top footer to black minus height orange | fix this in next iteration
    flex-direction: row;
    align-items: flex-start;
    max-width: 69.375rem;
    gap: 8.61rem;
    margin: -26.4375rem 10.3125rem 5.6875rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 2.0006rem 0 4rem;
    line-height: 1.625rem;
    max-width: 20.4375rem;

    @media only screen and (min-width: 768px) {
      flex-direction: row;
      max-width: 43.5rem;
      gap: 14.375rem;
      margin: 2.0006rem 0 5.3125rem;
    }

    @media only screen and (min-width: 1440px) {
      max-width: 69.375rem;
      margin: 0;
      gap: 22.4375rem;
    }
  }

  &__paragraph {
    max-width: 20.4375rem;

    @media only screen and (min-width: 768px) {
      max-width: 22.875rem;
    }

    .email {
      font-weight: 700;
    }
  }

  &__social-media {
    display: flex;
    gap: 1.25rem;

    @media only screen and (min-width: 768px) {
      align-items: center;
    }
  }

  &__icon {
    &:hover {
      fill: $orange;
    }
  }
}
